# Alex's Personal Notebook

Details will go here eventually.

To Do:
- 7/25 - 7/26: Clean data individually
- 7/25 - 7/26: Clean data with team
- 7/25 - 7/26: Explore data
- 7/26:        Define business questions
- 7/26:        Start analysis
- ...
- 7/31:        Finalize project
- 8/01:        Polish and present with team
- 8/02:        Present to Deloitte

## Starting exploration

**Importing the Data**

The data files were compressed and stored in different formats. The first step, then, is to decompress them and determine how to parse their structures.

- bom.movie_gross.csv.gz
- im.db.zip
- rt.movie_info.tsv.gz
- rt.reviews.tsv.gz       <-- This one is encoded with ANSI
- tmdb.movies.csv.gz
- tn.movie_budgets.csv.gz

Using pandas, we should be able to read the zipped files directly into dataframes.

In [33]:
# imports
import numpy as np
import pandas as pd
import sqlite3
import zipfile

import matplotlib.pyplot as mpl

%matplotlib inline

In [36]:
# read the files into dataframes

# movie_gross = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
# movie_info = pd.read_csv('zippedData/rt.movie_info.tsv.gz', sep='\t')
# reviews = pd.read_csv('zippedData/rt.reviews.tsv.gz', sep='\t', encoding='ANSI')
# movies = pd.read_csv('zippedData/tmdb.movies.csv.gz')
# movie_budgets = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')

# create temporary SQL database from im.db.zip

with zipfile.ZipFile('zippedData/im.db.zip', 'r') as z:
    z.printdir()
    imdb_data = z.extractall()

# open SQL link to im.db.zip

conn = sqlite3.connect('im.db')

File Name                                             Modified             Size
im.db                                          2021-12-20 16:31:38    169443328

In [17]:
# movie_gross.head()
movie_gross.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [18]:
# movie_info.head()
movie_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB

In [19]:
# reviews.head()
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54432 entries, 0 to 54431
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          54432 non-null  int64
 1   review      48869 non-null  object
 2   rating      40915 non-null  object
 3   fresh       54432 non-null  object
 4   critic      51710 non-null  object
 5   top_critic  54432 non-null  int64
 6   publisher   54123 non-null  object
 7   date        54432 non-null  object
dtypes: int64(2), object(6)
memory usage: 3.3+ MB

In [20]:
# movies.head()
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26517 entries, 0 to 26516
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         26517 non-null  int64
 1   genre_ids          26517 non-null  object
 2   id                 26517 non-null  int64
 3   original_language  26517 non-null  object
 4   original_title     26517 non-null  object
 5   popularity         26517 non-null  float64
 6   release_date       26517 non-null  object
 7   title              26517 non-null  object
 8   vote_average       26517 non-null  float64
 9   vote_count         26517 non-null  int64
dtypes: float64(2), int64(3), object(5)
memory usage: 2.0+ MB

In [21]:
# movie_budgets.head()
movie_budgets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5782 non-null   int64
 1   release_date       5782 non-null   object
 2   movie              5782 non-null   object
 3   production_budget  5782 non-null   object
 4   domestic_gross     5782 non-null   object
 5   worldwide_gross    5782 non-null   object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [37]:
# explore im.db

pd.read_sql("""
    SELECT name
      FROM 'sqlite_master'
     WHERE type = 'table'
  ;
""", conn)

            name
0   movie_basics
1      directors
2      known_for
3     movie_akas
4  movie_ratings
5        persons
6     principals
7        writers